In [119]:
''' tuple items are ordered, unchangeable, and allow duplicate values.
tuple are written with round brackets
'''
#create a tuple

thistuple=("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [120]:
#tuple allow duplicate value

thistuple=("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [121]:
#print the second item in the tuple:

thistuple=("apple","banana","cherry")
print(thistuple[1])

banana

In [122]:
#print the last item in the tuple:

thistuple=("apple","banana","cherry")
print(thistuple[-1])

cherry

In [123]:
'''once tuple is created, yoy cannot change its values. tuples are unchangeable 

but there is a workround.
you can convert the tuple into a list, change the list,
and convert this list back into a table.
'''

x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [124]:
#convert the tuple into a list, add "orange",  convert it back into a tuple:

thistuple=("apple","banana","cherry")
y=list(thistuple)
y.append("orange")
thistuple=tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [125]:
#create a new tuple with the value "orange", and add that tuple:

thistuple=("apple","banana","cherry")
y=("orange",) #without comma it will act as list

'''When creating a tuple with only one items,
remeber to include a comma after the items,
otherwise it will not be identified as a tuple'''

thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [126]:
#we cannnot remove item in a tuple but we can change into list then

'''convert the tuple into list,
remove "apple" 
and convert it back into a tuple
'''

thistuple=("apple","banana","cherry")
y=list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [127]:
#delete the tuple completely:

thistuple=("apple","banana","cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [129]:
'''if the number of variables is less thann the number of values,
we can add an * (asteric) to the variable name and
the values will be assigned to the variable as a list '''

#assigm the rest of the values as a list called "red":

fruits=("apple","banana","cherry","strawberry","raspberry")
(green,yellow,*red)=fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [130]:
fruits=("apple","mango","papaya","pineapple","raspberry")
(green,*tropic,red)=fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
raspberry