In [10]:
''' panda is a ython library.
pandas is used to analyse data.
'''

import pandas as pd

In [11]:
mydataset={
    'cars': ["Maruti","Volvo","Ford"],
    'passings': [3,4,2]
}

myvar=pd.DataFrame(mydataset)  #create in table form (DataFrame)
print(myvar)

     cars  passings
0  Maruti         3
1   Volvo         4
2    Ford         2

In [12]:
import pandas as pd

mydataset={

    'students': ["Avni","Gungun","Vikash"],
    'roll.no:':[1,2,3],
    'cgpa':[7.76,7.76,6.5]
}

myvar=pd.DataFrame(mydataset)
print(myvar)

print(myvar[2])

  students  roll.no:  cgpa
0     Avni         1  7.76
1   Gungun         2  7.76
2   Vikash         3  6.50

KeyError: 2

In [13]:
#return the second value of the series: 
arr=[1,2,3.4]
print(arr[1])

2

In [15]:
#create a simple pandas series from a lsit:

import pandas as pd
num=[1,7,3]

myvar=pd.Series(num)
print(myvar)

0    1
1    7
2    3
dtype: int64

In [17]:
import pandas as pd
num=[1.5,7.6,3]

myvar=pd.Series(num)
print(myvar)

print(myvar[1])

0    1.5
1    7.6
2    3.0
dtype: float64
7.6

In [19]:
import pandas as pd

mydataset={

    'students': ["Avni","Gungun","Vikash"],
    'roll.no:':[1,2,3],
    'cgpa':[7.76,7.76,6.5]
}

myvar=pd.Series(mydataset)
print(myvar)

students    [Avni, Gungun, Vikash]
roll.no:                 [1, 2, 3]
cgpa             [7.76, 7.76, 6.5]
dtype: object

In [22]:
#With the index argument, you can name your own labels

myvar=pd.Series(num,index =["x","y","z"])

print(myvar)

x    1.5
y    7.6
z    3.0
dtype: float64

In [ ]:
#Create a simple Pandas Series from a dictionary

calories={"day1": 420,"day2": 380, "day3": 390}

myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [27]:
'''Data sets in Pandas are usually multi-dimensional tables, called Dataframes.
Series is like a column, a Dataframe is the whole table.
'''

#craete a dataframe from two series:

data={
    "Name": ["Avi", "Gunnu", "Vikash","bunny","munno","shubhi","swan"],
    "Grade":["a","b","c","d","e","a+","g"]
}

myvar=pd.DataFrame(data)
print(myvar)

     Name Grade
0     Avi     a
1   Gunnu     b
2  Vikash     c
3   bunny     d
4   munno     e
5  shubhi    a+
6    swan     g

In [28]:
#load data into a DataFrame object:

df=pd.DataFrame(data)
print(df)

     Name Grade
0     Avi     a
1   Gunnu     b
2  Vikash     c
3   bunny     d
4   munno     e
5  shubhi    a+
6    swan     g

In [31]:
#Pandas use the loc(line of content) attribute to return one or more specified row(s)

print(df.loc[0])

Name     Avi
Grade      a
Name: 0, dtype: object

In [ ]:
#Add a list of names to give each row a name:

data={
    "calories": [420,380,250],
    "duration": [50,60,20]
}
df=pd.DataFrame(data)
print(df)
df=pd.DataFrame(data,index=["day1","day2","day3"])  #0,1,2 change into day1 day2 day3
print(df)

   calories  duration
0       420        50
1       380        60
2       250        20
      calories  duration
day1       420        50
day2       380        60
day3       250        20

In [35]:
#use the named index in the loc attributes to return the specified row(s)

#refer to the named index:

print(df.loc["day2"])

calories    380
duration     60
Name: day2, dtype: int64

In [ ]:
#load files into a dataframe
"C:\Users\DELL\Documents\PANDA.xlsx"

df=pd.read_xlsx('C:\Users\DELL\Documents\PANDA.xlsx') #csv file omly
print(df)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2268817184.py, line 2)