In [2]:
# function

def myfirstfunc(x,y):
    sum=x+y
    return sum
myfirstfunc(1,2)

3

In [4]:
def myfirstfunc(x=5,y=8):
    sum=x+y
    return sum

myfirstfunc()

13

In [8]:
def disp():
    name="Avni"
    print("welcomed by", name)
disp()

disp()

welcomed by Avni
welcomed by Avni

In [11]:
def addii(a,b):
    c=a+b
    print(c)

addii(4,5)
addii(9,0)

9
9

In [38]:
def addii(b, a=4):
    c=a+b
    print(c)

addii(4)
addii(3,6)

8
9

In [17]:
def disp():
    def show():
        print("shown")
    print("display")
    show()

disp()

display
shown

In [44]:
def disp(sh):
    print(type(sh))
    print("Display function"+ sh())

def show():
    return " show function"


disp(show)

<class 'function'>
Display function show function

In [ ]:
def disp():
    def show():
        return "shown function"
    result=show()+" disp func"
    return result
print(disp())

shown functiom disp func

In [ ]:
def func(*num): #*crerates tupule
    sum = num[0]+ num[1]+ num[2] #indexes
    return sum

func(4,5,6)

15

In [ ]:
def func(**num): #  ** give key to variable
    sum = num['a']+ num['b']+ num['c'] 
    return sum

func(a=4,b=5,c=6)

15

In [51]:
def func2(*num1,**num2):
    sum=num1[0]+num1[1]+num2['a']+num2['b']+num2['c']
    return sum

func2(4,7,a=2,b=6,c=7)

26

In [55]:
# funtion inside a fucntion
def plus(x,y):
    sum=x+y
    return sum

def func3(a,b):
    add=plus(a,b)
    return add


func3(2,3)

5

In [56]:
def minus(x,y):
    sum=x-y
    return sum

def plus(x,y):
    sum=x+y
    return sum

def func3(a,b):
    add=plus(a,b)/minus(a,b)
    return add


func3(2,3)

-5.0

In [57]:
#local variable

#ex1

def show():
    x=18 #local
    print(x)
show()

18

In [59]:
def fun(x):
    sum=x+x
    return sum

print(9)

9

In [ ]:
a=50
def show():
    x=10
    print(x)
    print(a)
show()

print("Global variable A: ",a)

# print("Local variable X: ",x)

10
50
Global variable A:  50

In [62]:
#factorial using recursiom

def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

print(fact(10))

3628800

In [ ]:
#Anonymous Function or Lamda Function
#Example 1 Single Argument

show = lambda x: print(x)
show(5)

#2 argumennt
add=lambda x,y : (x+y)
add(5,9)

#3 return multiple

5

14