In [23]:
#check Armstrong number
for num in (range(1,10000)):
    strnum=str(num)
    pow=len(strnum)
    sum=0
    for i in (range(len(strnum)-1)):
        sum+= int(strnum[i])**pow
    if (sum==num):
        print(num)

370
6688

In [4]:
# lists

List=[1,2,3,4.0,"Python",True,[43,44,45]]

In [8]:
type(List[6])

list

In [9]:
List

[1, 2, 3, 4.0, 'Python', True, [43, 44, 45]]

In [10]:
print(List[0])

1

In [ ]:
List[4]=60 #change value
List

[1, 2, 3, 4.0, 60, True, [43, 44, 45]]

In [13]:
List.append('python')

In [15]:
List

[1, 2, 3, 4.0, 60, True, [43, 44, 45], 'python']

In [17]:
#list.insert(indexValue,value)

List.insert(2,'avi')
List

[1, 2, 'avi', 3, 4.0, 60, True, [43, 44, 45], 'python']

In [18]:
List.remove(60)
List

[1, 2, 'avi', 3, 4.0, True, [43, 44, 45], 'python']

In [19]:
List.copy()
List

[1, 2, 'avi', 3, 4.0, True, [43, 44, 45], 'python']

In [20]:
List1=List
List1

[1, 2, 'avi', 3, 4.0, True, [43, 44, 45], 'python']

In [22]:
List1.insert(4,'pikachuu')
List

[1, 2, 'avi', 3, 'pikachuu', 4.0, True, [43, 44, 45], 'python']

In [24]:
num_list=[13,21,34,32,34,54,65,76,56,65]

new_list=[]
for i in num_list:
    new_list.append(i**2)
print(new_list)

[169, 441, 1156, 1024, 1156, 2916, 4225, 5776, 3136, 4225]

In [28]:
list=[21,20,32,31,56,78,65,90,89]

#write a code to sort the list

for i in range (len(list)-1):
    for j in range(i+1,len(list)):
        if list[i]>list[j]:
            list[i],list[j]=list[j],list[i]

list

[20, 21, 31, 32, 56, 65, 78, 89, 90]

In [29]:
list[3]

32

In [41]:
matrix=[[1,2,3,4,5],[6,7,8,9,10],[3,4,5,6,7],[10,11,12,13,14],[4,6,8,4,5],[6,67,68,69,90]]

matrix

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [3, 4, 5, 6, 7],
 [10, 11, 12, 13, 14],
 [4, 6, 8, 4, 5],
 [6, 67, 68, 69, 90]]

In [46]:
matrix[2][4]

7

In [47]:
matrix=[[[1,2,3,4,5],[6,7,8,9,10]],[[3,4,5,6,7],[10,11,12,13,14]],[[4,6,8,4,5],[6,67,68,69,90]]]

matrix[0][1]

[6, 7, 8, 9, 10]

In [48]:
matrix[0][1][2]

8

In [53]:
#tuple

#immutable, ordered set data

tuple=(1,2,3,4,5,6)
tuple

(1, 2, 3, 4, 5, 6)

In [54]:
tuple[0]=4

TypeError: 'tuple' object does not support item assignment

In [55]:
tuple

(1, 2, 3, 4, 5, 6)

In [ ]:
tuple.insert(2,5) #can change or insert

AttributeError: 'tuple' object has no attribute 'insert'

In [60]:
#set- unordered(cant be assessed with index), mutable colln of data, unique values, i.e no duplicates

set={2,3,4,5,6}

for i in set:
    print(i)

2
3
4
5
6

In [ ]:
set.add(20)
set.discard(6)
set.remove(5)
set

{2, 3, 20}

In [68]:
s1={1,3,4,5,6,7,8}
s2={2,3,4,5,7,7,8}

#union of set
print(s1.union(s2))
#intersection
print(s1.intersection(s2))
#difference
print(s1.difference(s2))
#Symmetric Difference
print(s1^s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5, 7, 8}
{1, 6}
{1, 2, 6}

In [69]:
#dictionaries

dict={"name":"xyz","age":23}

In [70]:
dict['name']

'xyz'

In [71]:
dict['salary']=10000

In [72]:
dict

{'name': 'xyz', 'age': 23, 'salary': 10000}

In [74]:
dict['name']="avi"

In [75]:
dict

{'name': 'avi', 'age': 23, 'salary': 10000}

In [76]:
dict.clear()

In [77]:
dict

{}

In [78]:
dict={"name":"xyz","age":23}

In [79]:
dict.pop('name')

'xyz'

In [80]:
dict

{'age': 23}

In [81]:
dict.get('age')

23

In [82]:
new_dict={k:v for k,v in dict.items()}

In [83]:
new_dict

{'age': 23}

In [86]:
str='abcdefghijklmnopqrstuvwxyz'
result=[]
# o/p
# list['abc','bcd','cde','def','efg,....']

for i in range(len(str)-2):
    result.append(str[i:i+3])
print(result)

['abc', 'bcd', 'cde', 'def', 'efg', 'fgh', 'ghi', 'hij', 'ijk', 'jkl', 'klm', 'lmn', 'mno', 'nop', 'opq', 'pqr', 'qrs', 'rst', 'stu', 'tuv', 'uvw', 'vwx', 'wxy', 'xyz']

In [ ]:
#find the sum of cube of first n natural numbers
# find the LCM of a number
#print all disarium numbers bewteen 1-100
# find the HCF of a number

In [2]:
# Find the LCM of two numbers

num1 = int(input("Num1: "))
num2 = int(input("Num2: "))

# Choose the greater number to start checking
if num1 > num2:
    greater = num1
else:
    greater = num2

while True:
    if (greater % num1 == 0) and (greater % num2 == 0):
        lcm = greater
        break
    greater += 1

print(f'LCM of {num1} and {num2} is {lcm}')

LCM of 6 and 7 is 42

In [1]:
# find the HCF of a number
# Find HCF of two numbers

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

# Find the smaller number to start checking
if num1 > num2:
    smaller = num2
else:
    smaller = num1

# Loop from 1 to the smaller number
for i in range(1, smaller + 1):
    if (num1 % i == 0) and (num2 % i == 0):
        hcf = i  # Store the highest factor found so far

print(f"HCF of {num1} and {num2} is {hcf}")

HCF of 6 and 7 is 1

In [3]:
#find the sum of cube of first n natural numbers

count=int(input("how many: "))
sum=0
for i in range(1,count+1):
    sum+=i**3
print(f'Sum of cubes of first {count} natural numbers is {sum}')

Sum of cubes of first 20 natural numbers is 44100